.spinner-element{
    border-top: 4px solid #cc7c97;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s infinite;
}

.hidden{
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}